{
    // "presets": ["env"],
    "plugins": [
        [
            "@babel/plugin-proposal-decorators",
            {
                "legacy": true
            }
        ],
        [
            "module-resolver",
            {"root":["./"],
            "alias":{
                "@api":"./routers/api",
                "@entities":"./entities"
            }}
        ]
    ]
}