{
    // "presets": ["env"],
    "plugins": [
        [
            "@babel/plugin-proposal-decorators",
            {
                "legacy": true
            }
        ],
        // 会造成无法正确解析安装的依赖（不可用）
        // 别名不能存在'./' 这种路径
        // 如果要IDE 解析，还需要在jsconfig.json 中配置
        [
            "module-resolver",
            {
                "root": [
                    "./"
                ],
                "alias": {
                    "@src": "./src",
                    "@controller": "./src/controller"
                }
            }
        ]
    ]
}